<h1>About Blocitoff</h1>
<p>Created by super junior rails developer, Julian Napolitan.<a href="http://twitter.com/juliannapolitan" target="_blank"> Follow him on Twitter</a> because he works there.</p>
